/* Olika fonts */
@font-face{
	font-family: "Archive";
	src: url('../Fonts/Archive.otf') format('opentype');
}
@font-face{
	font-family: "NexaB";
	src: url('../Fonts/NexaB.otf') format('opentype');
}
@font-face{
font-family: "NexaL";
	src: url('../Fonts/NexaL.otf') format('opentype');
}

/* Allmäna klasser */
.temaText{
	color: #E80C94 !important;
}
.background{
	background-color: rgb(33,33,33);
	max-width: 2160px;
}
.baseText{
	font-size: 16px;
	font-family: NexaL;
	color: white;
}
.titleText{
	color: white;
	font-family: NexaL;
}
.button {
	border: none;
	padding: 12px 24px;
	border-radius: 2px;

  	-webkit-transition-duration: 0.4s; /* Safari */
  	transition-duration: 0.4s;
}

.button:hover {
  background-color: #E80C94; /* Green */
  color: white;
}

/* Body Content */
.navbarLogo{
	height: 72px;
	width: 100%;
	background-color: white;
}
.navbarImg{
	max-height: 100%;
	max-width: 100%;
	padding: 8px;
}
.navbarTitle{
	text-align: center;
	background-color: white;
}
.div1-Häftet{
	width: 100%;
	padding: 8px;
}
.div2-Tjejhack{
	width: 100%;
	padding: 8px;
	font-family: NexaL;
}
.div3-Var-När{
	width: 100%;
	padding: 8px;
	font-family: NexaL;
}
.div4-Quiz{
	width: 90%;
	border: 1px white solid;
	height: 100%;
	padding: 8px;
	font-family: NexaL;
	margin-left: 20px;
	margin-top: 10px;
}
.mentor{
	width: 100%;
	padding: 8px;
	margin: 0;
}
.mentorImage{
	height: 132px;
	width: 132px;
}
.mentorText{
	font-family: NexaB;
	padding: 4px;
	color: white;
}

/* Footer */
.footerCon{
	max-width: 2160px;
}
.footer{
	height: 64px;
	width: 100%; 
	background-color: rgb(77,77,77);
}